

.navbar {
    background-color: burlywood;
}


.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.pedidos {
    background-color: darkmagenta;
}

.horario {
    background-color: darkorange;
}